# #First steps with Polars

In [1]:
# 3rd party imports
import polars as pl
import datetime as dt

In [8]:

df = pl.DataFrame(
    {
        "name": ["Alice Archer", "Ben Brown", "Bucky Richard Donald", "Chloe Cooper", "Daniel Donovan", "Eddie Ernest" ],
        "birthdate": [
            dt.date(1997, 1, 10),
            dt.date(1985, 2, 15),
            dt.date(1949, 5, 23),
            dt.date(1983, 3, 22),
            dt.date(1981, 4, 30),
            dt.date(1977, 11, 23),
        ],
        "weight": [57.9, 72.5, 66.42, 53.6, 83.1, 66.6],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.68, 1.75, 1.84],  # (m)
    }
)

df

shape: (6, 4)
┌──────────────────────┬────────────┬────────┬────────┐
│ name                 ┆ birthdate  ┆ weight ┆ height │
│ ---                  ┆ ---        ┆ ---    ┆ ---    │
│ str                  ┆ date       ┆ f64    ┆ f64    │
╞══════════════════════╪════════════╪════════╪════════╡
│ Alice Archer         ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown            ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Bucky Richard Donald ┆ 1949-05-23 ┆ 66.42  ┆ 1.65   │
│ Chloe Cooper         ┆ 1983-03-22 ┆ 53.6   ┆ 1.68   │
│ Daniel Donovan       ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
│ Eddie Ernest         ┆ 1977-11-23 ┆ 66.6   ┆ 1.84   │
└──────────────────────┴────────────┴────────┴────────┘

In [5]:
result = df.select(
    pl.col(["name", "weight"]),
    pl.col("birthdate").dt.year().alias("birth_year"),
    (pl.col("weight") / (pl.col("height") ** 2)).alias("bmi"),
)
result

shape: (4, 4)
┌────────────────┬────────┬────────────┬───────────┐
│ name           ┆ weight ┆ birth_year ┆ bmi       │
│ ---            ┆ ---    ┆ ---        ┆ ---       │
│ str            ┆ f64    ┆ i32        ┆ f64       │
╞════════════════╪════════╪════════════╪═══════════╡
│ Alice Archer   ┆ 57.9   ┆ 1997       ┆ 23.791913 │
│ Ben Brown      ┆ 72.5   ┆ 1985       ┆ 23.141498 │
│ Chloe Cooper   ┆ 53.6   ┆ 1983       ┆ 19.687787 │
│ Daniel Donovan ┆ 83.1   ┆ 1981       ┆ 27.134694 │
└────────────────┴────────┴────────────┴───────────┘